img {
  display: block;
  max-width: 100%;
  height: auto;
}

.ccontainer {
  display: grid;
  place-items: center;
}

.cardContainer {
  display: grid;
  row-gap: 3.5rem;
}


.cardArticle {
  position: relative;
  overflow: hidden;

}

.cardImage {
  width: 328px;
  border-radius: 1rem;
}


.cardData {
  width: 280px;
  background-color: #00060a;
  padding: 1rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute; 
  bottom: -9rem;
  margin-inline: auto; 
  opacity: 0;
  transition: opacity 1s 1s;
  left: 0;
  right: 0;
}


.cardDesc {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
  color: rgb(182, 182, 182);
}

.cardTitle {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: white;
  margin-bottom: .65rem;
}

.cardBtn {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 600;
  color:#b00d3e;
}

.cardBtn:hover {
  text-decoration: underline;
}


/* Naming animations in hover */
.cardArticle:hover .cardData {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.cardArticle:hover {
  animation: remove-overflow 2s forwards;
}

.cardArticle:not(:hover) {
  animation: show-overflow 2s forwards;
}

.cardArticle:not(:hover) .cardData {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}



/* For smaller devices */
@media screen and (max-width: 340px) {
  .ccontainer {
    margin-inline: 1rem;
  }

  .cardData {
    width: 220px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
  }
  .cardImage {
    width: 318px;
  }
  .cardData {
    width: 286px;
    padding-inline: 2.5rem;
  }
}